.extra{
    margin: 3rem;
}
.extra-div :hover{
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
    transform: translateY(-30px);
    transition: 0.3s;
}
.social{
    float: right;
}
.ami{
    float: initial;
}
